extends layout
block content
    .wrapper
         form.form-horizontal(method="post" action="/align" id="alignForm" role="form")
             .form-group
                 label.control-label.col-xs-4(for="alignName" data-toggle="tooltip" data-original-title="This name should be unique in your account.") Name this alignment
                 .col-xs-8
                     input.form-control(type="text" id="alignName" name="alignName" data-validation="length alphanumeric" data-validation-length="min4")
             .form-group
                 label.control-label.col-xs-4(for="targetSeq" data-toggle="tooltip" data-original-title="Select the most reliable/accurate one.") Select one as target
                 .col-xs-8
                     select.form-control.selectpicker(id="targetSeq" name="targetSeq" data-validation="required" )
                         if (files.length === 0)
                             option No files.
                         each file, index in files
                             option= file.name
             .form-group
                 label.control-label.col-xs-4(for="querySeq" data-toggle="tooltip" data-original-title="Most.") Select one or more as queries
                 .col-xs-8
                     select.form-control.selectpicker(multiple id="querySeq" name="querySeq" data-validation="required")
                         if (files.length === 0)
                             option No files.
                         each file, index in files
                             option= file.name
             .form-group
                 label.control-label.col-xs-4(for="alignLength" data-toggle="tooltip" title="we recommend a value larger than 100 bp.") Minimum fragment legnth
                 .col-xs-8
                     input.form-control(type="text" id="alignLength" name="alignLength" value=1000 data-validation="number")
             .form-group
                 label.control-label.col-xs-4 Select a realigning method
                 .col-xs-8
                     .btn-group(data-toggle="buttons")
                         label.btn.btn-default.active(data-toggle="tooltip" data-original-title="Recommended. Fast.") MAFFT
                             input(type="radio" name="reAlignmentMethod" id="reAlignmentMethod" value="MAFFT" checked)
                         label.btn.btn-default(data-toggle="tooltip" data-original-title="Slow but more accurate.") ClustalW
                             input(type="radio" name="reAlignmentMethod" id="reAlignmentMethod" value="ClustalW")
                         label.btn.btn-default(data-toggle="tooltip" data-original-title="Not recommended. Select this if you want a crude alignment.") NONE
                             input(type="radio" name="reAlignmentMethod" id="reAlignmentMethod" value="NONE")
             input(class="btn btn-lg btn-primary btn-block" type="submit" value="Begin aligning")

    // allJobs table
    .wrapper
        .panel.panel-default(id="allJobsList")
            .panel-heading
                h4 Your Jobs
            if (allJobs.length === 0)
                li(class="list-group-item")
                    | No Jobs.
            else
                .table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                th #
                                th Name
                                th Created
                                th Finished
                                th Status
                                th
                                th
                        tbody
                            each job, index in allJobs
                                tr
                                    td= index + 1
                                    td
                                        strong= job.name
                                    // moment() means now
                                    if job.createDate
                                        td= moment(job.createDate).format("YY/MM/DD HH:mm")
                                    else
                                        td
                                    if job.finishDate
                                        td= moment(job.finishDate).format("YY/MM/DD HH:mm")
                                    else
                                        td
                                    if (job.status === "running")
                                        td.info
                                            span.fa.fa-spin.fa-cog
                                            | &nbsp;#{job.status}
                                    else if (job.status === "failed")
                                        td.danger
                                            span.fa.fa-remove
                                            | &nbsp;#{job.status}
                                    else
                                        td.success
                                            span.fa.fa-check
                                            | &nbsp;#{job.status}
                                    if (job.status === "finished")
                                        td.cell-align
                                            form(action="/align/download/#{job._id}" method="post")
                                                input(type="hidden" value=job._id.toString() name="id")
                                                button.btn.btn-info.btn-xs(type="submit" data-toggle="tooltip" data-original-title="Download report.")
                                                    span.fa.fa-calculator
                                    else
                                        td
                                    td.cell-align
                                        form(action="/align/delete/#{job._id}" method="post")
                                            input(type="hidden" value=job._id.toString() name="id")
                                            button.btn.btn-danger.btn-xs(type="submit" data-toggle="tooltip" data-original-title="Delete this job.")
                                                span.fa.fa-trash

